.bg-red{
    background-color: red;
}
.bg-yellow{
    background-color: yellow;
}
.iconosPrueba{
    padding: 5px;
    background-color: #ddd;
  }
  
  i{
    height: 30px;
    width: 30px;
    text-align: center;
    /*padding: 10px;
    margin: 0px 5px;
    color: #555;*/
    font-size: 48px;
    color: white;
  }
.titularesHome{
    justify-content: center;
    text-align: center;
    text-justify: auto;

}
.nav{
    background-color: aqua;
}
a{
    text-decoration: none;
}
.pymesText{
    margin-top: 100px;
}